[Unit]
Description=Rockslide server

[Service]
ExecStart=/usr/local/bin/rockslide /etc/rockslide.toml
RestartSec=2
Restart=always
User=rockslide
Group=rockslide

[Install]
WantedBy=multi-user.target
