[Unit]
Description=Rockslide server

[Service]
ExecStart=/usr/local/bin/rockslide /etc/rockslide.toml
RestartSec=2
Restart=always
User=rockslide
Group=rockslide
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
